p {
    font-size: inherit;
    text-align: justify;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.5em;
}

p:first-child {
    margin-block-start: 1em;
}

p:last-child {
    margin-block-end: 1em;
}

.v-center {
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    max-height: 50vh;
}

.space-between div {
    width: 45%;
    max-width: 50vh;
    margin: auto;
}

@media only screen and (hover: none) and (pointer: coarse){

    .space-between {
        flex-direction: column;
        max-height: 80vh;
    }

    .space-between div {
        max-width: 80vw;
        max-height: 80vw;
        width: auto;
    }

}