.strip {
    height: 25vh;
    background-color: var(--blue-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.strip .text-wrapper {
    width: 70vw;
}

.strip h1, .strip h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.atividades {
    width: 60vw;
    display: grid;
    align-items: space-between;
    justify-content: space-around;
    row-gap: var(--x);
    column-gap: calc(2 * var(--x));
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
}

#selectors input { display: none }

.label-name {
    font-weight: bold;
}

#selectors label {
    display: block;
    cursor: pointer;
    border: 1px solid var(--purple-1);
    color: var(--purple-1);
    border-radius: 0.25em;
    padding: 0.1em 0.5em;
    text-align: center;
}

#labels {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: calc(2 * var(--x)) auto;
    height: 10vh;
    gap: var(--x);
}

.atividade {
    border: 1px solid var(--grey-3);
    border-radius: var(--x);
    padding: var(--x);
}

#selectors #cat-1:not(:checked) ~ .atividades .cat-1 { display: none }
#selectors #cat-2:not(:checked) ~ .atividades .cat-2 { display: none }
#selectors #cat-3:not(:checked) ~ .atividades .cat-3 { display: none }

#selectors #dia-1:not(:checked) ~ .atividades .dia-1 { display: none }
#selectors #dia-2:not(:checked) ~ .atividades .dia-2 { display: none }
#selectors #dia-3:not(:checked) ~ .atividades .dia-3 { display: none }

#selectors #hora-1:not(:checked) ~ .atividades .hora-1 { display: none }
#selectors #hora-2:not(:checked) ~ .atividades .hora-2 { display: none }
#selectors #hora-3:not(:checked) ~ .atividades .hora-3 { display: none }

#selectors #cat-1:checked ~ #labels label[for=cat-1] {background-color: var(--purple-1); color: #fff}
#selectors #cat-2:checked ~ #labels label[for=cat-2] {background-color: var(--purple-1); color: #fff}
#selectors #cat-3:checked ~ #labels label[for=cat-3] {background-color: var(--purple-1); color: #fff}

#selectors #dia-1:checked ~ #labels label[for=dia-1] {background-color: var(--purple-1); color: #fff}
#selectors #dia-2:checked ~ #labels label[for=dia-2] {background-color: var(--purple-1); color: #fff}
#selectors #dia-3:checked ~ #labels label[for=dia-3] {background-color: var(--purple-1); color: #fff}

#selectors #hora-1:checked ~ #labels label[for=hora-1] {background-color: var(--purple-1); color: #fff}
#selectors #hora-2:checked ~ #labels label[for=hora-2] {background-color: var(--purple-1); color: #fff}
#selectors #hora-3:checked ~ #labels label[for=hora-3] {background-color: var(--purple-1); color: #fff}

.at-nome {
    margin-bottom: 0;
    color: var(--blue-1);
}

.tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--x);
    font-size: calc(0.7 * var(--x));
    margin: calc(0.5 * var(--x)) 0;
}

.tags h2 {
    color: #fff;
    background-color: var(--blue-2);
    border-radius: calc(0.2 * var(--x));
    margin: 0;
    padding: calc(0.3 * var(--x));
}

.atividades strong {
    color: var(--blue-1);
}

@media only screen and (orientation: portrait){

    .strip {
        text-align: center;
    }

    #labels {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 50vw;
    }

    .atividades {
        grid-template-columns: 1fr;
        width: 70vw;
        margin: auto;
        font-size: 1.2em;
    }

}