html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
}

section {
    width: 90%;
    margin: 10vh auto;
    padding: 0 5vw;
}

.banner {
    width: 60%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-wrapper {
    height: 50vh;
    width: 50vh;
    flex-basis: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: none;
}

.image-wrapper img {
    display: block;
    height: 100%;
    width: auto;
}

.text-wrapper {
    width: 50vh;
    height: 50vh;
    display: block;
    flex-shrink: 10;
}

.text-wrapper h2 {
    text-align: center;
}

ul.puzzle, ul.rect {
    list-style-type: none;
}

ul.puzzle li::before {
    content: "\1F9E9";
    margin-right: 1em;
}

ul.rect {
    padding-inline-start: 0;
    width: calc(100% - 2em);
    margin: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

ul.rect li {
    height: 1.5em;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    border: 1px solid var(--blue-3);
    transition: all 0.3s ease-in;
    background: linear-gradient(var(--blue-3), var(--blue-3));
    background-repeat: no-repeat;
    background-size: 0 100%;
}

ul.rect li::before {
    content: "";
    width: 1em;
    height: 100%;
    display: inline-block;
    background-color: var(--blue-3);
    margin-right: 0.5em;
    transition: all 0.3s ease-in;
}

ul.rect li:hover {
    background-size: 100% 100%;
    color: #ffffff;
}

ul.rect li:hover::before {
    width: 0;
}

.under-construction {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.under-construction img {
    display: block;
    width: 40%;
    height: auto;
}

footer {
    background-color: var(--blue-3);
    padding: 5vh;
    min-height: 20vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .logos {
    height: auto;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer img {
    height: 7vh;
}