html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
}

section.news {
    width: 80%;
    display: flex;
    overflow: hidden;
}

section.news article {
    display: none;
    width: 100%;
}

section.news article:nth-child(1) {
    display: flex;
}

section {
    width: 60%;
    margin: 10vh auto;
    padding: 0 5vw;
}

.banner {
    width: 80%;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    max-height: 50vh;
}

.v-center {
    align-items: center;
}

.flex div {
    width: 45%;
    max-width: 50vh;
    margin: auto;
}

.triple div {
    margin: 0 1%;
    height: 100%;
}

.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: none;
}

.image-wrapper img {
    display: block;
    height: 50vh;
    width: auto;
}

.text-wrapper {
    display: block;
    height: 100%;
}

.text-wrapper h1 {
    text-align: center;
}

ul.puzzle, ul.rect {
    list-style-type: none;
}

ul.puzzle li::before {
    content: "\1F9E9";
    margin-right: 1em;
}

ul.rect {
    padding-inline-start: 0;
    width: calc(100% - 2em);
    margin: auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

ul.rect li {
    height: 1.5em;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    border: 1px solid var(--blue-3);
    transition: all 0.3s ease-in;
    background: linear-gradient(var(--blue-3), var(--blue-3));
    background-repeat: no-repeat;
    background-size: 0 100%;
}

ul.rect li::before {
    content: "";
    width: 1em;
    height: 100%;
    display: inline-block;
    background-color: var(--blue-3);
    margin-right: 0.5em;
    transition: all 0.3s ease-in;
}

ul.rect li:hover {
    background-size: 100% 100%;
    color: #ffffff;
}

ul.rect li:hover::before {
    width: 0;
}

.beauty::before {
    content: "\A9C1";
    margin-right: 1%;
}

.beauty::after {
    content: "\A9C2";
    margin-left: 1%;
}

.icon-title {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 20vh;
}

.icon {
    display: block;
    position: absolute;
    top: -250%;
    left: calc(50% - 68px);
}

.under-construction {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.under-construction img {
    display: block;
    width: 40%;
}

.youtube {
    --y: calc(var(--x) * 5);
    width: calc(var(--y) * 16);
    height: calc(var(--y) * 8.3);
    max-width: 100%;
    max-height: auto;
}

.youtube.double {
    --y: calc(var(--x) * 2.3);
    height: calc(var(--y) * 9);
    margin: 1% 0;
}

footer {
    background-color: var(--grey-1);
    margin: 5vh auto;
    padding: calc(1 * var(--x));
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: calc(10 * var(--x));
    width: calc(30 * var(--x));
}

footer a {
    height: calc(6 * var(--x));
    width: calc(6 * var(--x));
    background-color: #fff;
    border-radius: calc(3 * var(--x));
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 60%;
}