/* Font-families */

body, .serif {
    font-family: 'Source Serif Pro', serif;
}

h1, h2, h3, h4, h5, h6, .montserrat {
    font-family: 'Montserrat', sans-serif;
}

.yeseva {
    font-family: 'Yeseva One', sans-serif;
}

.literata {
    font-family: 'Literata', serif;
}

.sanchez {
    font-family: 'Sanchez', serif;
}

/* Font-sizes */

body {
    font-size: small;
}

h1 {
    font-size: 55px;
}

/* Font-transformations */

.upper {
    text-transform: uppercase;
}

/* Others */

a {
    text-decoration: none;
    color: inherit;
}

.white {
    color: #fff;
}