:root {
    --blue-1: #0A369D;
    --blue-2: #4364FF;
    --blue-3: #7FC8F8;
    --purple-1: #671C87;
    --purple-2: #9627C4;
    --purple-3: #CE47FF;
    --grey-1: #545454;
    --grey-2: #737373;
    --grey-3: #A6A6A6;
    --x: calc(0.5vw + 0.5vh)
}

/* Font-families */

body, .serif {
    font-family: 'Source Serif Pro', serif;
}

h1, h2, h3, h4, h5, h6, .montserrat {
    font-family: 'Montserrat', sans-serif;
}

.yeseva {
    font-family: 'Yeseva One', sans-serif;
    font-weight: normal;
}

.literata {
    font-family: 'Literata', serif;
}

.sanchez {
    font-family: 'Sanchez', serif;
}

/* Font-sizes */

body {
    font-size: calc(1.3 * var(--x));
    color: #222222;
}

.xg-title {
    font-size: calc(4.5 * var(--x));
}

.gg-title {
    font-size: calc(4 * var(--x));
}

.g-title, .xg-text {
    font-size: calc(3.5 * var(--x));
}

.title, .gg-text {
    font-size: calc(3 * var(--x));
}

.m-title, .g-text {
    font-size: calc(2.5 * var(--x));
}

.p-title, .m-text {
    font-size: calc(2 * var(--x));
}

.pp-title, .p-text {
    font-size: calc(1.5 * var(--x));
}

.xp-title, .pp-text {
    font-size: calc(1 * var(--x));
}

/* Font-transformations */

.upper {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

/* Others */

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

a.link {
    text-decoration: none;
    color: var(--blue-2);
    font-weight: bold;
    padding: 0.1em;
    position: relative;
    background: linear-gradient(var(--blue-2), var(--blue-2));
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: 0% 100%;
    animation: unlink 1s forwards;
    animation-fill-mode: forwards;
}

a.link:hover, a.link:focus {
    animation: link 1s forwards;
    animation-fill-mode: forwards;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

a.link-2 {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: var(--blue-2);
    padding: 0.1em;
    position: relative;
}

a[role="button"] {
    display: block;
    margin: 2vh auto;
    font-size: inherit;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    width: calc(90% - 4vh);
    padding: 2vh;
    border: 2px solid var(--blue-2);
    border-radius: 5vh;
    background-color: var(--blue-2);
    color: #ffffff;
    text-align: center;
    transition: all 0.15s ease-in;
}

a[role="button"]:hover {
    background-color: #ffffff;
    color: var(--blue-2);
}

.white {
    color: #fff;
}

p {
    font-size: inherit;
    text-align: justify;
    margin-block-start: 0;
    margin-block-end: 0;
    line-height: 1.5em;
}

p:first-child {
    margin-block-start: 1em;
}

p:last-child {
    margin-block-end: 1em;
}

ul {
    margin-block-start: 0;
    padding-inline-start: 1em;
}

p ~ ul {
    line-height: 2em;
}

strong {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--blue-2);
}

hr {
    width: 80vw;
    margin: 5vh auto;
}

@keyframes link {
    0% {
        background-size: 100% 10%;
        background-repeat: no-repeat;
        background-position: 0% 100%;
        color: var(--blue-2);
    }
    25% {
        background-size: 10% 10%;
        background-repeat: no-repeat;
        background-position: 50% 100%;
    }
    50% {
        background-size: 10% 10%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        color: var(--blue-2);
    }
    75% {
        background-size: 100% 10%;
        background-repeat: no-repeat;
        background-position: 100% 50%;
    }
    100% {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 100% 50%;
        color: #fff;
    }
}

@keyframes unlink {
    0% {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 100% 50%;
        color: #fff;
    }
    25% {
        background-size: 10% 100%;
        background-repeat: no-repeat;
        background-position: 50% 100%;
    }
    50% {
        background-size: 10% 10%;
        background-repeat: no-repeat;
        background-position: 50% 100%;
        color: var(--blue-2);
    }
    75% {
        background-size: 10% 10%;
        background-repeat: no-repeat;
        background-position: 50% 100%;
    }
    100% {
        background-size: 100% 10%;
        background-repeat: no-repeat;
        background-position: 0% 100%;
        color: var(--blue-2);
    }
}