footer {
    background: linear-gradient(to bottom, #fff, var(--blue-3));
    margin-top: 5vh;
    padding: calc(3 * var(--x));
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    height: calc(6 * var(--x));
    width: calc(6 * var(--x));
    background-color: #fff;
    border-radius: calc(1 * var(--x));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: calc(1 * var(--x));
    transform: translateY(-10%);
    transition: all 0.2s ease-in;
    box-shadow: 0px calc(0.5 * var(--x)) 0 var(--blue-1)
}

footer img {
    width: 50%;
}

footer a:hover, footer a:focus {
    transform: none;
    box-shadow: none;
}

@media only screen and (hover: none) and (pointer: coarse){

    footer a {
        height: calc(12 * var(--x));
        width: calc(12 * var(--x));
        box-shadow: none;
        transform: none;
    }

}