@media only screen and (orientation: portrait){

    header {
        display: none;
        height: calc(100% - 4vh);
        width: 50vw;
        z-index: 3;
        padding: 2vh 0;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        scroll-behavior: none;
        animation: menu-fadeout 0.5s forwards ease-in;
        position: fixed;
        left: 25vw;
        font-size: calc(1.5 * var(--x));
    }

    input.sandwich:checked ~ .home-header header {
        display: flex;
    }

    .home-header {
        height: 100vh;
    }

    .header-background {
        height: calc(100% + 5 * var(--x));
        width: auto;
    }

    .header-background img {
        height: 100%;
        width: auto;
    }

    .home-header h1 {
        width: 90%;
        top: calc(50vh - 1em);
        text-align: center;
        position: absolute;
    }

    .home-header h1::before, .home-header h1::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -5vw;
        left: calc(50% - 2.5vw);
        width: 5vw;
        height: 5vw;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(45deg);
    }

    .home-header h1::after {
        bottom: -8vw;
    }

    .atribuition {
        bottom: 5vh;
        right: calc(30vw - 1em);
        width: 40vw;
        text-align: center;
        font-size: calc(1.5 * var(--x));
    }

    .image-wrapper {
        height: auto;
    }

    .youtube, .youtube.double {
        margin: var(--x) 0 !important;
        width: calc(var(--y) * 12);
        height: calc(var(--y) * 6.2);
        max-width: 100%;
        max-height: none;
    }
}