html {
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100vh;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 6vh;
    background-color: #fff;
    overflow-x: hidden;
}

section {
    width: 60%;
    margin: 10vh auto;
    padding: 0 5vw;
}

.banner {
    width: 80%;
    padding: 0;
}

@media only screen and (orientation: portrait){

    body {
        padding-top: 0;
    }

    section {
        width: 80%;
    }

    section.banner {
        width: 100%;
        margin: 5vh 0;
    }

    section.news {
        width: 100%;
    }

    .no-mobile {
        display: none;
    }

}