main {
    min-height: calc(89vh - 14 * var(--x));
}

main, .maps {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (orientation: portrait){

main {
    min-height: calc(89vh - 12 * var(--x));
}

}